body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px;
  background-color: rgb(247, 195, 195);
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tableCSS {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: rgb(252, 249, 250);
  text-align: center;
  border-style: solid;
  border-color: rgb(75, 31, 38);
}